<form action="{{ path('app_command_send') }}" class="command_form" method="post">
    {{ form_widget(form.text, { attrs : { id: "main_input" } }) }}
    <button id="command_send" class="btn btn-primary">Send</button>
</form>