{% extends 'EntvalleyAppBundle::layout.html.twig' %}

{% block content %}

    <a class="btn" href="{{ path('app_task_list') }}">List of tasks</a>
        <a href="{{ path('app_task_delete', { id: task.id }) }}" class="btn btn-danger">Delete</a>
        <hr>
    <p><b>Title: </b> {{ task.title }}</p>
    <p>{{ task.text }}</p>
{% endblock %}